/* *Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/*Variaveis*/
:root{
    --text-color:#021f2a;
    --text2-color:#066286;
    --bg-color: #fff;
    --bg2-color: #021f2a50;
}
/*Custom Scroll bar */
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-thumb{
    background: transparent;
}
html::-webkit-scrollbar-track{
    background: var(--tex-color);
    border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transform: 0.5s;
    background: var(--bg2-color);
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54 / 30%);
}
header.shadow .logo{
    color: var(--text-color);
}
header.shadow .navbar a{
    color: var(--text-color);
}
header.shadow .navbar li::after{
    background: var(--text-color);
}
.logo{
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: var(--bg-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s;
}
.navbar li:hover::after,
.navbar li.active::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}
.container{
    width: 100%;
    min-height: 750px;
    position: relative;
    display: flex;
    align-items: center;
}
.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-pagination-bullet{
    padding: 5px;
}
.swiper-pagination-bullet-active{
    background: var(--bg-color) !important;
}
.home-text{
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: 100001;
    padding: 0 100px;
    background: var(--bg2-color);
}
.home-text span{
    font-size: 1.4rem;
    color: var(--bg-color);
    font-weight: 400;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.btn{
    padding: 0.7rem 1rem;
    background: var(--text-color);
    color: var(--bg-color);
    font-weight: 500;
}
.btn:hover{
    background:#01151d;
}
.heading{
    text-align: center;
}
.heading h1{
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color);
}
.servicos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
}
.servicos-container .box{
    position: relative;
}
.imagem-servico{
    width: 250px;
    height: 100%;
    overflow: hidden;
}
.imagem-servico img{
    width: 100%;
    height: 100%;
}
.imagem-servico img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.servico-texto{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.servico-texto h2{
    color: var(--bg-color);
    font-weight: 400;
    font-size: 1rem;
}
.servico-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 20px;
    cursor: pointer;
}
.servicos-container .box:hover .servico-icon{
    background: #01151d;
}
.video-container{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}
.video-container video{
    width: 768px;
}
.sobre{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}
.about-text h1{
    font-size: 1.7rem;
    text-transform: capitalize;
    color:var(--text-color);
}
.about-text p{
    font-size: 0.938rem;
    text-align: justify;
    margin: 0.5rem 0 1.7rem;
}
.about-img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.about-img img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.about-img img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1rem;
    color: var(--text-color);
}
.footer-text h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box p{
    font-size: 00.938rem;
    margin-bottom: 10px;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--text-color);
    margin-right: 1rem;
}
.social a:hover{
    color: var(--text2-color);
}
.footer-box h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box li a{
    color: var(--text-color);
}
.footer-box li a:hover{
    color: var(--text2-color);
}
.copyright{
    padding: 20px;
    text-align: center;
    color: var(--text-color);
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-container .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.clientes img{
    max-width: 100%;
    height: auto;
}
.contacto-footer{
    background: var(--text-color);
    color: #fff;
    border-radius: 9px;
    padding: 4px 9px 4px 10px;
    font-size: 24.5px;
    letter-spacing: 1.2px;
    text-align: center;
}
.contacto-div{
    margin-bottom: 10px;
}
.heading-clientes{
    text-align: center;
    margin-bottom: 10px;
}
.heading-clientes h1{
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color);
}
/*FAQ*/
.faqs{
    background: var(--bg2-color);
}
.faq-pergunta{
    background:var(--bg-color);
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0, .1);
    width: 45%;
}
.pergunta-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.pergunta-link i{
    color: var(--text-color);
    padding: .5rem;
}
.pergunta-link .bx-droplet{
    display: none;
}
.resposta{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}
.resposta::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    top: 50%;
    left: 0;
    transform: translateY(-50);
}
.resposta p{
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 2rem;
}
.faq-pergunta:target .resposta{
    max-height: 20rem;
}
.faq-pergunta:target .pergunta-link .bx-droplet{
    display: block;
}
.faq-pergunta:target .pergunta-link .bxs-droplet{
    display: none;
}
.faq-title{
    margin-bottom: 2rem;
    text-align: center;
}
.faq-title h2{
    font-size: 1.7rem;
    text-transform: capitalize;
    color: var(--text-color);
}